.stCancelSquareButton {
    width: 180px;
    height: 40px;
    font-size: 14px;
    
    text-align: center;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    box-shadow: none;
    border: none;
    background-color: #cf2948;
}